body{
  background: #F1E3D3;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  height: 100vh;
}

.content{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #F2D0A9;
  padding: 16px;
  border-radius: 20px;
}